{
  "openapi": "3.1.0",
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://api.getbasalt.ai",
      "description": "Basalt Endpoint API"
    }
  ],
  "info": {
    "title": "Basalt API",
    "description": "Basalt API",
    "version": "0.2.1"
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/prompts": {
      "get": {
        "summary": "List all prompts",
        "description": "List all prompts",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The feature slug to filter prompts by",
              "example": "feature-slug"
            },
            "required": false,
            "name": "featureSlug",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of prompts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "prompts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "The slug of the prompt",
                            "example": "my-prompt"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the prompt",
                            "example": "My Prompt"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "live",
                              "draft"
                            ],
                            "description": "The status of the prompt (live or draft)",
                            "example": "live"
                          },
                          "description": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "The description of the prompt",
                            "example": "This is a description of the prompt"
                          },
                          "availableVersions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The available versions of the prompt",
                            "example": [
                              "1.0.0",
                              "1.0.1"
                            ]
                          },
                          "availableTags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The slug of the prompt to get",
                            "example": [
                              "latest",
                              "production"
                            ]
                          }
                        },
                        "required": [
                          "name",
                          "status",
                          "availableVersions",
                          "availableTags"
                        ]
                      },
                      "description": "The list of prompts",
                      "example": [
                        {
                          "slug": "my-prompt",
                          "name": "My Prompt",
                          "status": "live",
                          "description": "This is a description of the prompt",
                          "availableVersions": [
                            "1.0.0",
                            "1.0.1"
                          ],
                          "availableTags": [
                            "latest",
                            "production"
                          ]
                        }
                      ]
                    }
                  },
                  "required": [
                    "prompts"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid query parameters"
          }
        }
      }
    },
    "/prompts/{slug}": {
      "get": {
        "summary": "Get a prompt by its slug",
        "description": "Get a prompt by its slug",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The slug of the prompt to get",
              "example": "my-slug"
            },
            "required": true,
            "name": "slug",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "The version to filter prompts by",
              "example": "1.0.0"
            },
            "required": false,
            "name": "version",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "The tag to filter prompts by",
              "example": "latest"
            },
            "required": false,
            "name": "tag",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The prompt with all its parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "warning": {
                      "type": "string",
                      "description": "A warning message"
                    },
                    "prompt": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string",
                          "description": "Can you help me with...",
                          "example": "Hello, how are you?"
                        },
                        "systemText": {
                          "type": "string",
                          "description": "You are an AI assistant that helps users with their tasks.",
                          "example": "You are a helpful assistant"
                        },
                        "version": {
                          "type": "string",
                          "description": "The version (snapshot) of the prompt",
                          "example": "1.0.0"
                        },
                        "tag": {
                          "type": "string",
                          "description": "The tag of the prompt",
                          "example": "latest"
                        },
                        "slug": {
                          "type": "string",
                          "description": "The slug of the prompt",
                          "example": "prompt-slug"
                        },
                        "model": {
                          "type": "object",
                          "properties": {
                            "provider": {
                              "type": "string",
                              "description": "The provider of the model",
                              "example": "open-ai"
                            },
                            "client": {
                              "type": "string",
                              "enum": [
                                "open-ai",
                                "anthropic",
                                "hugging-face",
                                "mistral",
                                "gemini",
                                "azure",
                                "bedrock",
                                "xai",
                                "deepseek"
                              ],
                              "description": "The client to use the model",
                              "example": "open-ai"
                            },
                            "model": {
                              "type": "string",
                              "description": "The model name",
                              "example": "gpt-4o"
                            },
                            "version": {
                              "type": "string",
                              "description": "The version (snapshot) of the model",
                              "example": "latest"
                            },
                            "parameters": {
                              "type": "object",
                              "properties": {
                                "temperature": {
                                  "type": "number",
                                  "description": "The temperature of the model",
                                  "example": 0.5
                                },
                                "topP": {
                                  "type": "number",
                                  "description": "The top P of the model",
                                  "example": 0.5
                                },
                                "frequencyPenalty": {
                                  "type": "number",
                                  "description": "The frequency penalty of the model",
                                  "example": 1
                                },
                                "maxLength": {
                                  "type": "number",
                                  "description": "The max length of the model",
                                  "example": 100
                                },
                                "responseFormat": {
                                  "type": "string",
                                  "description": "The response format of the model",
                                  "example": "json_object"
                                },
                                "jsonObject": {
                                  "type": "object",
                                  "additionalProperties": {},
                                  "description": "The JSON object of the model"
                                }
                              },
                              "required": [
                                "maxLength",
                                "responseFormat"
                              ]
                            }
                          },
                          "required": [
                            "provider",
                            "client",
                            "model",
                            "version",
                            "parameters"
                          ],
                          "description": "The model used to generate the prompt",
                          "example": {
                            "provider": "open-ai",
                            "client": "open-ai",
                            "model": "gpt-4o",
                            "version": "latest",
                            "parameters": {
                              "maxLength": 100,
                              "temperature": 0.5,
                              "topP": 0.5,
                              "responseFormat": "json_object"
                            }
                          }
                        }
                      },
                      "required": [
                        "text",
                        "version",
                        "slug",
                        "model"
                      ],
                      "description": "The prompt",
                      "example": {
                        "text": "Hello, how are you?",
                        "systemText": "You are a helpful assistant",
                        "version": "1.0.0",
                        "tag": "latest",
                        "slug": "prompt-slug",
                        "model": {
                          "provider": "open-ai",
                          "client": "open-ai",
                          "model": "gpt-4o",
                          "version": "latest",
                          "parameters": {
                            "maxLength": 100,
                            "temperature": 0.5,
                            "topP": 0.5,
                            "responseFormat": "json_object"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "prompt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid query parameters"
          },
          "404": {
            "description": "Not found - No prompt found for the given slug",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/prompts/{slug}/describe": {
      "get": {
        "summary": "Describe a prompt by its slug",
        "description": "Describe a prompt by its slug",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The slug of the prompt to describe",
              "example": "my-slug"
            },
            "required": true,
            "name": "slug",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "The version to filter prompts by",
              "example": "1.0.0"
            },
            "required": false,
            "name": "version",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "The tag to filter prompts by",
              "example": "latest"
            },
            "required": false,
            "name": "tag",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The prompt with all its parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "warning": {
                      "type": "string",
                      "description": "A warning message"
                    },
                    "prompt": {
                      "type": "object",
                      "properties": {
                        "slug": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The slug of the prompt",
                          "example": "my-slug"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the prompt",
                          "example": "My Prompt"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "live",
                            "draft"
                          ],
                          "description": "The status of the prompt",
                          "example": "live"
                        },
                        "description": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The description of the prompt",
                          "example": "This is a description of the prompt"
                        },
                        "availableVersions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The versions of the prompt",
                          "example": [
                            "1.0.0",
                            "1.0.1"
                          ]
                        },
                        "availableTags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The tags of the prompt",
                          "example": [
                            "latest",
                            "production",
                            "staging"
                          ]
                        },
                        "variables": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string",
                                "description": "The label of the variable",
                                "example": "Name"
                              },
                              "type": {
                                "type": "string",
                                "description": "The type of the variable",
                                "example": "string"
                              },
                              "description": {
                                "type": "string",
                                "description": "The description of the variable",
                                "example": "This is a description of the variable"
                              }
                            },
                            "required": [
                              "label",
                              "type"
                            ]
                          }
                        }
                      },
                      "required": [
                        "name",
                        "status",
                        "availableVersions",
                        "availableTags",
                        "variables"
                      ],
                      "description": "The prompt retrieved",
                      "example": {
                        "slug": "my-slug",
                        "name": "My Prompt",
                        "status": "live",
                        "description": "This is a description of the prompt",
                        "availableVersions": [
                          "1.0.0",
                          "1.0.1"
                        ],
                        "availableTags": [
                          "latest",
                          "production",
                          "staging"
                        ],
                        "variables": [
                          {
                            "label": "Name",
                            "type": "string",
                            "description": "This is a description of the variable"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "prompt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid query parameters"
          },
          "404": {
            "description": "Not found - No prompt found for the given slug",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/monitor/experiments": {
      "post": {
        "summary": "Create an experiment",
        "description": "Create an experiment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "featureSlug": {
                    "type": "string",
                    "description": "The slug of the feature to create an experiment on",
                    "example": "my-feature"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the experiment",
                    "example": "My Experiment"
                  }
                },
                "required": [
                  "featureSlug",
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created experiment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the experiment",
                      "example": "123"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the experiment",
                      "example": "My Experiment"
                    },
                    "featureSlug": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The slug of the feature this experiment belongs to",
                      "example": "my-feature"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "The creation timestamp of the experiment",
                      "example": "2024-03-20T12:00:00Z"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "createdAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid body parameters"
          },
          "404": {
            "description": "Not found - No feature found for the given slug",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/monitor/log": {
      "post": {
        "summary": "Monitor a prompt output",
        "description": "Monitor a prompt output",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The name of the trace",
                    "example": "qa-chatbot"
                  },
                  "slug": {
                    "type": "string",
                    "description": "The slug of the prompt",
                    "example": "qa"
                  },
                  "version": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The version of the prompt",
                    "example": "1.0.0"
                  },
                  "tag": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The tag of the prompt",
                    "example": "production"
                  },
                  "input": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "additionalProperties": {}
                      },
                      {
                        "type": "array",
                        "items": {}
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "The input of the prompt.",
                    "example": "What is the capital of France?"
                  },
                  "output": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "additionalProperties": {}
                      },
                      {
                        "type": "array",
                        "items": {}
                      }
                    ],
                    "description": "The output of the prompt.",
                    "example": "Paris"
                  },
                  "idealOutput": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "additionalProperties": {}
                      },
                      {
                        "type": "array",
                        "items": {}
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "The ideal output of the prompt.",
                    "example": "Paris"
                  },
                  "variables": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string"
                        },
                        "value": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "label"
                      ]
                    },
                    "description": "Variables used in the prompt.",
                    "example": [
                      {
                        "label": "question",
                        "value": "What is the capital of France?"
                      }
                    ]
                  },
                  "startTime": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number",
                        "exclusiveMinimum": 0
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "The start time of the prompt.",
                    "example": "2021-01-01T00:00:00Z"
                  },
                  "endTime": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number",
                        "exclusiveMinimum": 0
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "The end time of the prompt.",
                    "example": "2021-01-01T00:00:00Z"
                  },
                  "inputTokens": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "description": "The number of input tokens. If not provided, it will be computed based on the input",
                    "example": 100
                  },
                  "outputTokens": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "description": "The number of output tokens. If not provided, it will be computed based on the output",
                    "example": 100
                  },
                  "cost": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "description": "The cost of the prompt. If not provided, it will be computed based on the input and output tokens",
                    "example": 100
                  },
                  "organization": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "A unique identifier for the organization"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the organization"
                      }
                    },
                    "required": [
                      "id",
                      "name"
                    ],
                    "description": "The organization related to the prompt. Used to identify the organization of the user that triggered the prompt.",
                    "example": {
                      "id": "123",
                      "name": "ACME"
                    }
                  },
                  "user": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "A unique identifier for the user"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the user"
                      }
                    },
                    "required": [
                      "id",
                      "name"
                    ],
                    "description": "The user related to the prompt. Used to identify the user that triggered the prompt.",
                    "example": {
                      "id": "123",
                      "name": "John Doe"
                    }
                  },
                  "metadata": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "additionalProperties": {},
                    "description": "Additional metadata to be associated with the prompt.",
                    "example": {
                      "sessionId": "456",
                      "userType": "admin"
                    }
                  }
                },
                "required": [
                  "slug",
                  "output"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The id of the created trace and log",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trace": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id"
                      ],
                      "description": "The ID of the trace",
                      "example": {
                        "id": "123"
                      }
                    },
                    "log": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id"
                      ],
                      "description": "The ID of the log",
                      "example": {
                        "id": "123"
                      }
                    },
                    "warning": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The warning message",
                      "example": "No prompt found with the given slug or no production version found or no prompt found with the given version or tag (production version also missing)"
                    }
                  },
                  "required": [
                    "trace",
                    "log"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid query parameters"
          },
          "404": {
            "description": "Not found - No prompt found for the given slug",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/monitor/trace": {
      "post": {
        "summary": "Create a trace",
        "description": "Create a trace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The name of the trace",
                    "example": "qa-chatbot"
                  },
                  "featureSlug": {
                    "type": "string",
                    "description": "The slug of the feature in Basalt.",
                    "example": "qa-chatbot"
                  },
                  "chainSlug": {
                    "type": "string",
                    "description": "Deprecated: Use featureSlug instead. The slug of the feature in Basalt.",
                    "example": "qa-chatbot",
                    "deprecated": true
                  },
                  "input": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "additionalProperties": {}
                      },
                      {
                        "type": "array",
                        "items": {}
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "The input of the trace",
                    "example": "What is the capital of France?"
                  },
                  "output": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "additionalProperties": {}
                      },
                      {
                        "type": "array",
                        "items": {}
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "The output of the trace",
                    "example": "Paris"
                  },
                  "idealOutput": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "additionalProperties": {}
                      },
                      {
                        "type": "array",
                        "items": {}
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "The ideal output of the trace. Used in some evaluators."
                  },
                  "metadata": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "additionalProperties": {},
                    "description": "Additional metadata to be associated with the trace.",
                    "example": {
                      "sessionId": "456",
                      "userType": "admin"
                    }
                  },
                  "organization": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "A unique identifier for the organization"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the organization"
                      }
                    },
                    "required": [
                      "id",
                      "name"
                    ],
                    "description": "The organization related to the trace. Used to identify the organization of the user that triggered the trace.",
                    "example": {
                      "id": "123",
                      "name": "ACME"
                    }
                  },
                  "user": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "A unique identifier for the user"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the user"
                      }
                    },
                    "required": [
                      "id",
                      "name"
                    ],
                    "description": "The user related to the trace. Used to identify the user that triggered the trace.",
                    "example": {
                      "id": "123",
                      "name": "John Doe"
                    }
                  },
                  "startTime": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number",
                        "exclusiveMinimum": 0
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "The start time of the trace",
                    "example": "2021-01-01T00:00:00Z"
                  },
                  "endTime": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number",
                        "exclusiveMinimum": 0
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "The end time of the trace",
                    "example": "2021-01-01T00:00:00Z"
                  },
                  "experiment": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id"
                    ],
                    "description": "The experiment to append the trace to. You must create an experiment before.",
                    "example": {
                      "id": "123"
                    }
                  },
                  "logs": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "A unique identifier for the log",
                              "example": "log-123"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "span",
                                "function",
                                "tool",
                                "retrieval",
                                "event"
                              ],
                              "description": "The type of log",
                              "example": "span"
                            },
                            "name": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "The name of the log",
                              "example": "retrieval"
                            },
                            "startTime": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "number",
                                  "exclusiveMinimum": 0
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "description": "The start time of the log",
                              "example": "2021-01-01T00:00:00Z"
                            },
                            "endTime": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "number",
                                  "exclusiveMinimum": 0
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "description": "The end time of the log",
                              "example": "2021-01-01T00:00:00Z"
                            },
                            "metadata": {
                              "type": [
                                "object",
                                "null"
                              ],
                              "additionalProperties": {},
                              "description": "The metadata of the log",
                              "example": {
                                "sessionId": "456"
                              }
                            },
                            "parentId": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "The parent ID of the log. Used to nest logs in a hierarchical structure.",
                              "example": "parent-123"
                            },
                            "input": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "object",
                                  "additionalProperties": {}
                                },
                                {
                                  "type": "array",
                                  "items": {}
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "description": "The input of the log",
                              "example": "What is the capital of France?"
                            },
                            "output": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "object",
                                  "additionalProperties": {}
                                },
                                {
                                  "type": "array",
                                  "items": {}
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "description": "The output of the log",
                              "example": "Paris"
                            },
                            "idealOutput": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "object",
                                  "additionalProperties": {}
                                },
                                {
                                  "type": "array",
                                  "items": {}
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "description": "The ideal output of the log. Used in some evaluators."
                            },
                            "evaluators": {
                              "type": [
                                "array",
                                "null"
                              ],
                              "items": {
                                "type": "object",
                                "properties": {
                                  "slug": {
                                    "type": "string",
                                    "description": "The slug of the evaluator in Basalt.",
                                    "example": "hallucination"
                                  }
                                },
                                "required": [
                                  "slug"
                                ]
                              },
                              "example": [
                                {
                                  "slug": "hallucination"
                                }
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "type"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "A unique identifier for the log",
                              "example": "log-123"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "generation"
                              ],
                              "description": "The type of log",
                              "example": "generation"
                            },
                            "name": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "The name of the log",
                              "example": "retrieval"
                            },
                            "startTime": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "number",
                                  "exclusiveMinimum": 0
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "description": "The start time of the log",
                              "example": "2021-01-01T00:00:00Z"
                            },
                            "endTime": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "number",
                                  "exclusiveMinimum": 0
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "description": "The end time of the log",
                              "example": "2021-01-01T00:00:00Z"
                            },
                            "metadata": {
                              "type": [
                                "object",
                                "null"
                              ],
                              "additionalProperties": {},
                              "description": "The metadata of the log",
                              "example": {
                                "sessionId": "456"
                              }
                            },
                            "parentId": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "The parent ID of the log. Used to nest logs in a hierarchical structure.",
                              "example": "parent-123"
                            },
                            "input": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "object",
                                  "additionalProperties": {}
                                },
                                {
                                  "type": "array",
                                  "items": {}
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "description": "The input of the log",
                              "example": "What is the capital of France?"
                            },
                            "output": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "object",
                                  "additionalProperties": {}
                                },
                                {
                                  "type": "array",
                                  "items": {}
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "description": "The output of the log",
                              "example": "Paris"
                            },
                            "idealOutput": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "object",
                                  "additionalProperties": {}
                                },
                                {
                                  "type": "array",
                                  "items": {}
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "description": "The ideal output of the log. Used in some evaluators."
                            },
                            "inputTokens": {
                              "type": [
                                "number",
                                "null"
                              ],
                              "description": "The number of input tokens. If not provided, it will be computed based on the input",
                              "example": 100
                            },
                            "outputTokens": {
                              "type": [
                                "number",
                                "null"
                              ],
                              "description": "The number of output tokens. If not provided, it will be computed based on the output",
                              "example": 100
                            },
                            "cost": {
                              "type": [
                                "number",
                                "null"
                              ],
                              "example": 100
                            },
                            "variables": {
                              "type": [
                                "array",
                                "null"
                              ],
                              "items": {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "required": [
                                  "label"
                                ]
                              },
                              "example": [
                                {
                                  "label": "question",
                                  "value": "What is the capital of France?"
                                }
                              ]
                            },
                            "prompt": {
                              "type": [
                                "object",
                                "null"
                              ],
                              "properties": {
                                "slug": {
                                  "type": "string"
                                },
                                "version": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "tag": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              },
                              "required": [
                                "slug"
                              ],
                              "example": {
                                "slug": "qa-prompt",
                                "version": "1.0.0",
                                "tag": "production"
                              }
                            },
                            "evaluators": {
                              "type": [
                                "array",
                                "null"
                              ],
                              "items": {
                                "type": "object",
                                "properties": {
                                  "slug": {
                                    "type": "string",
                                    "description": "The slug of the evaluator in Basalt.",
                                    "example": "hallucination"
                                  }
                                },
                                "required": [
                                  "slug"
                                ]
                              },
                              "example": [
                                {
                                  "slug": "hallucination"
                                }
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "type"
                          ]
                        }
                      ]
                    },
                    "description": "The logs to append to the trace.",
                    "example": [
                      {
                        "id": "123",
                        "type": "generation",
                        "name": "qa-chatbot",
                        "startTime": "2021-01-01T00:00:00Z",
                        "endTime": "2021-01-01T00:00:00Z",
                        "metadata": {
                          "sessionId": "456",
                          "userType": "admin"
                        }
                      }
                    ]
                  },
                  "evaluators": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "slug": {
                          "type": "string",
                          "description": "The slug of the evaluator in Basalt.",
                          "example": "hallucination"
                        }
                      },
                      "required": [
                        "slug"
                      ]
                    },
                    "description": "The evaluators used to generate the trace.",
                    "example": [
                      {
                        "slug": "hallucination"
                      }
                    ]
                  },
                  "evaluationConfig": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "sampleRate": {
                        "type": [
                          "number",
                          "null"
                        ],
                        "minimum": 0,
                        "maximum": 1,
                        "description": "The sample rate of the trace. If not provided, it will be computed based on the evaluators.",
                        "example": 0.5
                      }
                    },
                    "description": "The evaluation configuration of the trace.",
                    "example": {
                      "sampleRate": 0.5
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The trace created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trace": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id"
                      ],
                      "description": "The trace created",
                      "example": {
                        "id": "123"
                      }
                    },
                    "warning": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The warning message",
                      "example": "No prompt found with the given slug or no production version found or no prompt found with the given version or tag (production version also missing)"
                    }
                  },
                  "required": [
                    "trace"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid query parameters"
          },
          "404": {
            "description": "Not found - No feature found for the given slug",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/datasets": {
      "get": {
        "summary": "List datasets",
        "description": "Get a list of datasets within a workspace",
        "responses": {
          "200": {
            "description": "List of datasets in the workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "datasets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string",
                            "description": "The slug of the dataset",
                            "example": "my-dataset"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the dataset",
                            "example": "My Dataset"
                          },
                          "columns": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name of the column",
                                  "example": "input"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "text",
                                    "image",
                                    "file",
                                    "json"
                                  ],
                                  "description": "The type of the column",
                                  "example": "text"
                                }
                              },
                              "required": [
                                "name",
                                "type"
                              ]
                            },
                            "description": "The columns of the dataset",
                            "example": [
                              {
                                "name": "input",
                                "type": "text"
                              },
                              {
                                "name": "output",
                                "type": "text"
                              }
                            ]
                          }
                        },
                        "required": [
                          "slug",
                          "name",
                          "columns"
                        ]
                      },
                      "description": "The list of datasets"
                    }
                  },
                  "required": [
                    "datasets"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/datasets/{slug}": {
      "get": {
        "summary": "Get a dataset by slug",
        "description": "Get a dataset by its slug with its associated items",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The slug of the dataset to get",
              "example": "my-slug"
            },
            "required": true,
            "name": "slug",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The dataset with its items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "warning": {
                      "type": "string",
                      "description": "Warning message about columns that were omitted because they do not exist in the dataset",
                      "example": "Some rows contained columns that do not exist in the dataset and were omitted."
                    },
                    "dataset": {
                      "type": "object",
                      "properties": {
                        "slug": {
                          "type": "string",
                          "description": "The slug of the dataset",
                          "example": "my-dataset"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the dataset",
                          "example": "My Dataset"
                        },
                        "columns": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the column",
                                "example": "input"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "text",
                                  "image",
                                  "file",
                                  "json"
                                ],
                                "description": "The type of the column",
                                "example": "text"
                              }
                            },
                            "required": [
                              "name",
                              "type"
                            ]
                          },
                          "description": "The columns of the dataset",
                          "example": [
                            {
                              "name": "input",
                              "type": "text"
                            },
                            {
                              "name": "output",
                              "type": "text"
                            }
                          ]
                        },
                        "rows": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "values": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "string"
                                },
                                "description": "The values for each column in this dataset row",
                                "example": {
                                  "columnName1": "value1",
                                  "columnName2": "value2"
                                }
                              },
                              "idealOutput": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "The ideal output for this dataset row, if any",
                                "example": "This is the expected output"
                              },
                              "metadata": {
                                "type": [
                                  "object",
                                  "null"
                                ],
                                "additionalProperties": {},
                                "description": "Additional metadata for this dataset row",
                                "example": {
                                  "source": "user",
                                  "context": "testing"
                                }
                              }
                            },
                            "required": [
                              "values"
                            ]
                          },
                          "description": "The rows in this dataset, if requested"
                        }
                      },
                      "required": [
                        "slug",
                        "name",
                        "columns"
                      ],
                      "description": "The retrieved dataset"
                    }
                  },
                  "required": [
                    "dataset"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/datasets/{slug}/items": {
      "post": {
        "summary": "Create a dataset item",
        "description": "Create a new dataset item in the specified dataset",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The slug of the dataset to add an item to",
              "example": "my-dataset"
            },
            "required": true,
            "name": "slug",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The name of the dataset row",
                    "example": "Test case 1"
                  },
                  "values": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "The values for each column in this dataset row",
                    "example": {
                      "columnName1": "value1",
                      "columnName2": "value2"
                    }
                  },
                  "idealOutput": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The ideal output for this dataset row, if any",
                    "example": "This is the expected output"
                  },
                  "metadata": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "additionalProperties": {},
                    "description": "Additional metadata for this dataset row",
                    "example": {
                      "source": "api",
                      "context": "testing"
                    }
                  }
                },
                "required": [
                  "values"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created dataset item",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "warning": {
                      "type": "string",
                      "description": "Warning message about columns that were omitted because they do not exist in the dataset",
                      "example": "The following columns do not exist in the dataset and were omitted: extraColumn1, extraColumn2"
                    },
                    "datasetRow": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The name of the dataset row",
                          "example": "Test case 1"
                        },
                        "values": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "The values for each column in this dataset row",
                          "example": {
                            "columnName1": "value1",
                            "columnName2": "value2"
                          }
                        },
                        "idealOutput": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The ideal output for this dataset row, if any",
                          "example": "This is the expected output"
                        },
                        "metadata": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "additionalProperties": {},
                          "description": "Additional metadata for this dataset row",
                          "example": {
                            "source": "api",
                            "context": "testing"
                          }
                        }
                      },
                      "required": [
                        "values"
                      ],
                      "description": "The created dataset row"
                    }
                  },
                  "required": [
                    "datasetRow"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required columns",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}